:root{
    --dark: #374151;
    --darker: #1f2937;
    --darket: #111827;
    --dark: #6b7280;
    --light: #EEE;
    --pink: #ec4899;
    --purple: #8b5cf6;


}
* {
    box-sizing: border-box;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: (--dark);
    color: #fff;
}